{% extends 'penyewaan/base.html' %}
{% block content %}
    <p><a href="{% url 'sewa' %}" class="btn btn-dark"><b> Kembali</a>
   	
    <h3>Tambah Data Kamar</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Simpan">
    </form>
{% endblock %}