{% extends 'penyewaan/base.html' %}
{% block content %}
    <p><a href="{% url 'sewa_detail_view' sewa.id %}" class="btn btn-dark"><b> Kembali </a>
    <h3>Edit Sewa</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
{% endblock %}