<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 1cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR SEWA DI KOST</font>
<br><br>
<table border="1">
	<thead>
		<tr>
			<th>Nama Penyewa</th>
			<th>Nama Kamar</th>
			<th>Harga</th>
			<th>Tgl Input</th>
		</tr>
	</thead>
	<tbody>
		{% for sewa in sewa %}
		<tr>
			<td width="40%">{{ sewa.nama_penyewa }}</td>
			<td width="15%"> {% if  sewa.nama_kamar == 'AI' %} Standart Room
				{% else %} Superior Room
				{% endif %}
			</td>
			<td width="15%" align="right">Rp. {{ sewa.harga }}</td>
			<td><br>{{ sewa.tgl_input }}<br></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>