{% extends 'penyewaan/base.html' %}
{% block content %}
	
	<p><a href="{% url 'sewa' %}" class="btn btn-dark"><b> Kembali</a>
    <h3>{{ sewa.tgl_input }}</h3>
    <b>Nama Penyewa :</b>{{ sewa.nama_penyewa }}<br>
    <b>Nama Kamar :</b>{{ sewa.nama_kamar }}<br>
    <b>Harga :</b> Rp. {{ sewa.harga }}<br>
    <br>
    <a href="{% url 'sewa_edit' sewa.id %}" class="btn btn-warning"><b> Edit Sewa </a> &nbsp;
    <a href="{% url 'sewa_delete' sewa.id %}" class="btn btn-danger"> Hapus Sewa </a>
{% endblock %}